/* Stylesheet revised: Tue July 21, 2020 @ 02:43:20 EDT */
@font-face {
    font-family: Hack;
    src: url('../Resources/fonts/Hack-Regular.ttf');
    font-family: Hurmit-NF;
    src url('../Resources/fonts/Hurmit-NF.otf')
}
:root {    /* Color Settings!                           
            * DO NOT HARD-CODE COLORS.  Add them here as variables,
            * then use them on elements like:           
            * div * { background-color: var(--clr-accentA); } */

--clr-bg-dark: #122a40;
--clr-bg-lite: #173753;
--clr-accentA: #B8336A;
--clr-accentB: #f78764;
--clr-fg-dark: #2384fb;
--clr-fg-lite: #9dfff9;
--flex-cut-off: 1500px;

/* Feel Free to change these! I generated these ones using
 * https://coolors.co/
 *
 * See this scheme:
 * https://coolors.co/252422-403d39-eb5e28-07a0c3-f0c808-d6cfcb
 */
}

html {
    background-color: var(--clr-bg-dark);
    color: var(--clr-fg-lite);
}

* { box-sizing: border-box; }


/* DEBUG REMOVE BEFORE MERGING TO MASTER */
div#testdiv {
    background-color: #ffffff;
}
div#testdiv span { display: block; }
span.testcolor0 { 
    background-color: var(--clr-bg-dark); 
    color: var(--clr-fg-dark);
}
span.testcolor0::after { content: " (--clr-bg-dark)";  }

span.testcolor1 { 
    background-color: var(--clr-bg-lite); 
    color: var(--clr-fg-lite);
}
span.testcolor1::after { content: " (--clr-bg-lite)";  }

span.testcolor2 { 
    background-color: var(--clr-accentA); 
    color: var(--clr-fg-lite);
}
span.testcolor2::after { content: " (--clr-accentA)";  }

span.testcolor3 { 
    background-color: var(--clr-accentB); 
    color: var(--clr-fg-dark);
}
span.testcolor3::after { content: " (--clr-accentB)";  }

span.testcolor4 { 
    background-color: var(--clr-fg-dark);
    color: var(--clr-bg-dark);
}
span.testcolor4::after { content: " (--clr-fg-dark)";  }

span.testcolor5 { background-color: var(--clr-fg-lite); 
    color: var(--clr-bg-lite);
}
span.testcolor5::after { content: " (--clr-fg-lite)";  }
/* END DEBUG. REMOVE BEFORE MERGING TO MASTER. */

.input-form {
    margin: auto auto;
    width: auto;
}

label {
    color: var(--clr-fg-dark); 
    font-family: "Lucida Console", Courier, monospace;
    font-size: 20px;

}
#codeInput {
    height: 150px;
    min-width: 100%;
    min-height: 150px;
    overflow-y: auto;
}
div#header, div#header * { --bar-height: 6em; }

div#header {
    display: block;
    width: 100%;
    height: var(--bar-height);
}
header ul.bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--clr-bg-dark);
}
header ul.bar li {
    display: inline-block;
}
header ul.bar li a {
    display: block;
    height: 100%;
}
li#icon {
    height: 100%;
    position: relative;
    float: left;
}
li#github {
    float: right;
}
header ul.bar li a img {
    position: relative;
    height: var(--bar-height);
    width: auto;
}

form, input, select, textarea, .previewPanel, .main-content{
    background-color: var(--clr-bg-lite);
    color: var(--clr-fg-lite);
}
/*

Railscasts-like style (c) Visoft, Inc. (Damien White)

 */

.hljs {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    background: #232323;
    color: #e6e1dc;
}

.hljs-comment,
.hljs-quote {
    color: #bc9458;
    font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag {
    color: #c26230;
}

.hljs-string,
.hljs-number,
.hljs-regexp,
.hljs-variable,
.hljs-template-variable {
    color: #a5c261;
}

.hljs-subst {
    color: #519f50;
}

.hljs-tag,
.hljs-name {
    color: #e8bf6a;
}

.hljs-type {
    color: #da4939;
}


.hljs-symbol,
.hljs-bullet,
.hljs-built_in,
.hljs-builtin-name,
.hljs-attr,
.hljs-link {
    color: #6d9cbe;
}

.hljs-params {
    color: #d0d0ff;
}

.hljs-attribute {
    color: #cda869;
}

.hljs-meta {
    color: #9b859d;
}

.hljs-title,
.hljs-section {
    color: #ffc66d;
}

.hljs-addition {
    background-color: #144212;
    color: #e6e1dc;
    display: inline-block;
    width: 100%;
}

.hljs-deletion {
    background-color: #600;
    color: #e6e1dc;
    display: inline-block;
    width: 100%;
}

.hljs-selector-class {
    color: #9b703f;
}

.hljs-selector-id {
    color: #8b98ab;
}

.hljs-emphasis {
    font-style: italic;
}

.hljs-strong {
    font-weight: bold;
}

.hljs-link {
    text-decoration: underline;
}

.flex-prop{
    display:flex;
    margin-left: auto;
    margin-right: auto;
    width:100%
}

@media only screen and (min-width: 1500px) {
    .flex-prop{
        flex-direction: row;
    }
}

@media only screen and (max-width: 1500px) {
    .flex-prop{
        flex-direction: column;
    }
}

.main-content{
    max-width: 90%;
    margin: 2em 2em 2em 2em;
    padding:10px;
    border-radius: 10px;
}

@media only screen and (max-width: 1500px) {
    .main-content{
        width: 100%; 
    }
}

@media only screen and (min-width: 1500px) {
    .main-content{
        width: 50%;
    }
}
div#previewArea {
    margin: 1em 1em 1em 1em;
    font-family: Hurmit-NF;
}
h2 { 
        color: var(--clr-accentA);
        font-family: Hack;
}
select {
    font-family: Hurmit-NF;

}
