/* Stylesheet revised: Sun August 02, 2020 @ 12:20:49 EDT */
@font-face {
    font-family: Hack;
    src: url('../Resources/fonts/Hack-Regular.ttf');
    font-family: Hurmit-NF;
    src url('../Resources/fonts/Hurmit-NF.otf')
}
:root {    /* Color Settings!                           
            * DO NOT HARD-CODE COLORS.  Add them here as variables,
            * then use them on elements like:           
            * div * { background-color: var(--clr-accentA); } */

--clr-bg-dark: #122a40;
--clr-bg-lite: #173753;
--clr-accentA: #B8336A;
--clr-accentB: #f78764;
--clr-fg-dark: #2384fb;
--clr-fg-lite: #9dfff9;
--flex-cut-off: 1500px;

/* Feel Free to change these! I generated these ones using
 * https://coolors.co/
 *
 * See this scheme:
 * https://coolors.co/252422-403d39-eb5e28-07a0c3-f0c808-d6cfcb
 */
}

html {
    background-color: var(--clr-bg-dark);
    color: var(--clr-fg-lite);
}

* { box-sizing: border-box; }


/* DEBUG REMOVE BEFORE MERGING TO MASTER */
div#testdiv {
    background-color: #ffffff;
}
div#testdiv span { display: block; }
span.testcolor0 { 
    background-color: var(--clr-bg-dark); 
    color: var(--clr-fg-dark);
}
span.testcolor0::after { content: " (--clr-bg-dark)";  }

span.testcolor1 { 
    background-color: var(--clr-bg-lite); 
    color: var(--clr-fg-lite);
}
span.testcolor1::after { content: " (--clr-bg-lite)";  }

span.testcolor2 { 
    background-color: var(--clr-accentA); 
    color: var(--clr-fg-lite);
}
span.testcolor2::after { content: " (--clr-accentA)";  }

span.testcolor3 { 
    background-color: var(--clr-accentB); 
    color: var(--clr-fg-dark);
}
span.testcolor3::after { content: " (--clr-accentB)";  }

span.testcolor4 { 
    background-color: var(--clr-fg-dark);
    color: var(--clr-bg-dark);
}
span.testcolor4::after { content: " (--clr-fg-dark)";  }

span.testcolor5 { background-color: var(--clr-fg-lite); 
    color: var(--clr-bg-lite);
}
span.testcolor5::after { content: " (--clr-fg-lite)";  }
/* END DEBUG. REMOVE BEFORE MERGING TO MASTER. */

.input-form {
    margin: auto auto;
    width: auto;
}

label {
    color: var(--clr-fg-dark); 
    font-family: "Lucida Console", Courier, monospace;
    font-size: 20px;

}

@media only screen and (max-width: 520px) {
    label{
        font-size: 13px;
    }
}
#codeInput {
    height: 150px;
    min-width: 100%;
    min-height: 150px;
    max-height: 600px;
    overflow-y: auto;
    resize: none;
}
div#header, div#header * { --bar-height: 6em; }

div#header {
    display: block;
    width: 100%;
    height: var(--bar-height);
}
header ul.bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--clr-bg-dark);
}
header ul.bar li {
    display: inline-block;
}
header ul.bar li a {
    display: block;
    height: 100%;
}
li#icon {
    height: 100%;
    position: relative;
    float: left;
}
li#github {
    float: right;
}
header ul.bar li a img {
    position: relative;
    height: var(--bar-height);
    width: auto;
    max-width: 100%;
}

form, input, select, textarea, .previewPanel, .main-content{
    background-color: var(--clr-bg-lite);
    color: var(--clr-fg-lite);
}

.main-content div#previewArea pre { overflow-x: auto; }
.flex-prop{
    display:flex;
    margin-left: auto;
    margin-right: auto;
    width:100%
}

@media only screen and (min-width: 1500px) {
    .flex-prop{
        flex-direction: row;
    }
}

@media only screen and (max-width: 1500px) {
    .flex-prop{
        flex-direction: column;
    }
}

.main-content {
    max-width: 90%;
    margin: 2em 2em 2em 2em;
    padding:10px;
    border-radius: 10px;
}

@media only screen and (max-width: 1500px) {
    .main-content{
        width: 100%; 
    }
}

@media only screen and (min-width: 1500px) {
    .main-content{
        width: 50%;
    }
}
div#previewArea {
    margin: 1em 1em 1em 1em;
    font-family: Hurmit-NF;
}
.main-content h2 { 
    color: var(--clr-accentA);
    font-family: Hack;
}
.main-content, .main-content hr {
    border: 1px solid var(--clr-accentB);
}
select {
    /* font-family: Hurmit-NF; */
    color: var(--clr-fg-lite); 
    font-family: "Lucida Console", Courier, monospace;
    font-size: 20px;
    border-radius: 5px;
    width: 50%;

}
@media only screen and (max-width: 520px) {
    select{
        font-size: 13px;
    }
}
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--clr-bg-lite);
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--clr-bg-dark);
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--clr-accentA);
  }

  ::-webkit-scrollbar-corner{
      background: var(--clr-bg-lite);
      border-color: var(--clr-bg-lite);
  }

  .button{
    margin-top:10px;
    color: var(--clr-fg-lite); 
    font-family: "Lucida Console", Courier, monospace;
    font-size: 20px;
    border-radius: 5px;


  }
  .button:hover{
      background:var(--clr-accentA);
  }

  tr{
    width:100%;
    border-style: dashed;
  }

  td{
      width:50%;
  }

  h1{
    color:var(--clr-accentA);
    font-size: 100px;
    margin-top:10px;
  }

  h3{
    font-size: 34px;
    font-weight: lighter;
    color: var(--clr-fg-lite); 
    font-family: "Lucida Console", Courier, monospace;

  }

    h4{
    color:var(--clr-accentA);
    font-size: 45px;
    margin-top:0px;
    margin-bottom: 0px;
  }
  img {
  max-width: 100%;
  max-height: 100%;
  }
  
  .divbutton{
    background: var(--clr-bg-dark)
    max-width: 100%;

  }
  .divbutton:hover{
    background: var(--clr-accentA)

}

  